<section class="blog_area section-padding">
  <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section_title text-center mb-55">
                <h3>Edit Daily Update</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                  <article class="blog_item">
                      <%= render 'form', dailyupdate: @dailyupdate %>
                    </article>
                </div>
            </div>
        </div>
        <%= link_to 'Back', dailyupdates_path %>
    </div>
</section>

