<section class="blog_area section-padding">
  <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section_title text-center mb-55">
                <h3>डेली अपडेट</h3>
                <% if user_signed_in? %>
                    <h3><li><%= link_to 'Edit Daily Update', edit_dailyupdate_path(@dailyupdate) %></li></h3>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                  <article class="blog_item">
                      <h2><%= @dailyupdate.description %></h2>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
