<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dailyupdate.description %>
</p>

<%= link_to 'Edit', edit_dailyupdate_path(@dailyupdate) %> |
<%= link_to 'Back', dailyupdates_path %>
