<!-- bradcam_area_start  -->
    <div class="our_volunteer_area section_padding" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3>दान कीजिए </h3>
 </h4>क्योंकि सरमथुरा क्षेत्र में पत्थर व्यवसाय से जुड़े ज़्यादातर मज़दूरों के पास अभी खाने की बहुत कमी है। साथ ही अधिकतर मज़दूर  सिलिकोसिस जैसी लाइलाज़ बीमारी से जूझ रहे हैं। 
 क्योंकि धौलपुर ज़िला राजस्थान के सबसे गरीब ज़िलों में से एक है।
क्योंकि कोरोना महामारी के चलते मज़दूरों के पास काम नहीं है। काम नहीं होने के कारण पैसा नहीं है। हमारे क्षेत्र में खेती भी बहुत कम है। 
क्योंकि इस वक़्त मानवता की यही पुकार है।</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- ================ contact section start ================= -->
    <section class="contact-section" style="padding: 0 0 40px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">संपर्क करे</h2>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Sarmathura, Dholpur.</h3>
                                <p>Rajasthan, 328026</p>
                                <h3>Rahul Sharma, Founder</h3>
                                <p>+919545225923</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>SDM Office</h3>
                                <p>+918619320948</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>DSP Sarmathura</h3>
                                <p>+917976785539</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>SHO Sarmathura</h3>
                                <p>+919513196237, +919530411595</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Sarpanch Sarmathura</h3>
                                <p>+919829397058</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Dr. Gorelal Meena, Hospital Incharge Sarmathura</h3>
                                <p>+919561696567</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Madhav Sharma, Reporter</h3>
                                <p>+918290005515</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Dilip Parmar, Reporter</h3>
                                <p>+918955501935</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Prahalad Garg, Reporter</h3>
                                <p>+918005531948</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Vijay Singh Punder, JEN Water Work</h3>
                                <p>+917023088005</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Hariom Sharma, JEN, JVVNL</h3>
                                <p>+917790893137</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Mayank Bhargav, JEN, JVVNL</h3>
                                <p>+919680754477</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>sarmathurajanseva@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>