<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider_text ">
                        <span>अभी से शुरू करें</span>
                        <h3> मदद करें, क्योंकि लोगों को जरूरत है</h3>
                        <p>सरमथुरा और आस-पास के गांवों में जरूरतमंदों की मदद करें</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- reson_area_start  -->
<div class="reson_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>क्यों मदद करें</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="/assets/help/1.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>पूंजी का उपयोग</h4>
                        <p>फंड इकठ्ठा कर रहे हैं ताकि ज़रूरतमंद लोगों तक खाना पहुंचे
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="/assets/help/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>भोजन कैंप</h4>
                        <p>जरूरतमंदों तक खाने की पहुंच बना रहे हैं ताकि कोरोना से लड़ सकें</p>
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="/assets/help/3.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>वोलेंटियर्स</h4>
                        <p>कोरोना से लड़ाई के अभियान में हमें लोगों की जरुरत है, हमसे जुड़ें</p>
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reson_area_end  -->

<!-- latest_activites_area_start  -->
<!-- <div class="latest_activites_area">
    <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
        <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3> <span>Watch Our Latest  </span><br>
                            Activities</h3>
                    </div>
                    <p class="para_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do 
                        eiusmod tempor incididunt  ut labore dolore magna aliqua. 
                        enim minim veniam, quis nostrud exercitation.</p class="para_1">
                    <p class="para_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do 
                        eiusmod tempor incididunt  ut labore dolore magna aliqua. 
                        enim minim veniam, quis nostrud exercitation. tempor 
                        incididunt  ut labore dolore magna aliqua. enim minim 
                        veniam, quis nostrud exercitation.</p>
                    <a href="#" data-scroll-nav='1' class="boxed-btn4">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- latest_activites_area_end  -->

<!-- popular_causes_area_start  -->
<%# <div class="popular_causes_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Popular Contribution</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="causes_active owl-carousel">
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="/assets/causes/1.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Donated: Rs 5000 </span>
                                <!-- <span>Goal: $9000.00 </span> -->
                            </div>
                            <h4>Rahul Sharma</h4>
                            <p>Donated on sarmathura area</p>
                            <!-- <a class="read_more" href="cause_details.html">Read More</a> -->
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="/assets/causes/2.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Donated: Rs 5000 </span>
                                <!-- <span>Goal: $9000.00 </span> -->
                            </div>
                            <h4>Rahul Sharma</h4>
                            <p>Donated on sarmathura area</p>
                            <!-- <a class="read_more" href="cause_details.html">Read More</a> -->
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="/assets/causes/3.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Donated: Rs 5000 </span>
                                <!-- <span>Goal: $9000.00 </span> -->
                            </div>
                            <h4>Rahul Sharma</h4>
                            <p>Donated on sarmathura area</p>
                            <!-- <a class="read_more" href="cause_details.html">Read More</a> -->
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="/assets/causes/1.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: $5000.00 </span>
                                <span>Goal: $9000.00 </span>
                            </div>
                            <h4>Help us to Send Food</h4>
                            <p>The passage is attributed to an 
                                unknown typesetter in the century 
                                who is thought</p>
                            <!-- <a class="read_more" href="cause_details.html">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> %>
<!-- popular_causes_area_end  -->

<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container">
        <div class="counter_bg overlay">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3><%= Contributor.count %></h3>
                            <p>टोटल सहयोगकर्ता</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-heart-beat"></i>
                        </div>
                        <div class="events">
                            <h3><%= Contributor.sum(:money) %></h3>
                            <p>टोटल सहयोग राशि</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-hug"></i>
                        </div>
                        <div class="events">
                            <h3>6</h3>
                            <p>वोलेंटियर्स</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->